<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>{% block title %} Task {% endblock %}</title>

    <!--link css with html-->
    {% load staticfiles %}
    <!--the arrangement of the 5 next lines is important!-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    ﻿
</head>

<body>
<!--Navigation Bar-->
<nav class="navbar navbar-inverse">
    <!--header-->
    <div class="container-fluid">

        <!--items-->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav">
                <!--home page bar item-->
                <li {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>
                    <a href="{% url 'home' %}">
                        <span class="" aria-hidden="true"></span>&nbsp; Home Page
                    </a>
                </li>
                <!--profile bar item-->
                <li {% if request.resolver_match.url_name == 'profile' %}class="active"{% endif %}>
                    <a href="{% url 'profile' %}">
                        <span class="" aria-hidden="true"></span>&nbsp; Profile
                    </a>
                </li>
                <li {% if request.resolver_match.url_name == 'upload' %}class="active"{% endif %}>
                    <a href="{% url 'upload' %}">
                        <span class="" aria-hidden="true"></span>&nbsp; Upload File
                    </a>
                </li>
                <li {% if request.resolver_match.url_name == 'distance' %}class="active"{% endif %}>
                    <a href="{% url 'distance' %}">
                        <span class="" aria-hidden="true"></span>&nbsp;Show Distance
                    </a>
                </li>

            </ul>

            <!--action="." This tells django to do the GET action in the same URL as you are-->
            <!--items on right side-->
            <ul class="nav navbar-nav navbar-right">
                <!--logout item-->
                <li class="">
                    <a href="{% url 'logout' %}">
                        <span class="" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>

        </div>

    </div>

</nav>
{% block body %}
{% endblock %}
</body>

</html>
