 <!--link css with html-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"/>﻿
{% block body %}
    <div class="row">
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
        <aside class="col-sm-4">
            <h2>Password Reset</h2>
            <div class="card">
                <article class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: #ff0000">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button type="submit">Submit</button>
                    </form>
                </article>
            </div>
        </aside>
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
    </div>
{% endblock %}