{% extends 'Task/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<h1>{% block title %}{{ user }}'s Profile{% endblock %}</h1>

{% block body %}
        <div class="col-sm-15 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'profile' %}">
                    </a>

                    <h3>{{ 'Username:' }}{{ ' ' }}{{ user.username }}</h3>
                    <h3>{{ 'Email:' }}{{ ' ' }}{{ user.email }}</h3>
                    <h3>{{ 'Password:' }}{{ ' ' }}{{ user.password }}</h3>
                    <hr>
                </div>
            </div>
        </div>



{% endblock %}