<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("data-validate-username-url"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert(data.error_message);
          }
        }
      });

    });
  </script>
{% endblock %}

{% block body %}
    <h1>Create New Account</h1>
    <form method="post" data-validate-username-url="{% url 'validate_username' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
    <p id="label">Already a member?</p>
    <a href="{% url 'login' %}" class="btn btn-default btn-block btn-large">Login</a>
{% endblock %}