{% extends 'Task/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
{% load static %}

{% block body %}
    <div class="container-fluid">

        <div class="col-sm-12 col-md-7">

            <div class="panel panel-default">

                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2>Choose file to upload..</h2>
                        <br>
                        <input type="file" name="myfile">
                        <br>
                        <button type="submit">Upload</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}

{% endblock %}